<!DOCTYPE html >
<html ng-app>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>

        input:focus{
            outline: none;
        }

        #general-config{
            font-weight: var(--font-weight-primary-bold);
            letter-spacing: 0.9px;
            -webkit-font-smoothing: antialiased;
            --font-family-primary: "Noto Sans", sans-serif;
        }

        #actual-pages{
            margin-top: 23px;
            margin-bottom: 23px;
            border: 4px dotted #333;
            padding: 15px;
        }

        </style>

</head>
<body>

  <nav aria-label="breadcrumb" style="position: fixed;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">cPanel</li>
    </ol>
  </nav>

      <div class="container">

        <br />
        <h1 id="general-config"> Configurações Gerais </h1>

        <br />

        <div class="card">
          <div class="card-header">
            Featured
          </div>

          <div class="card-body">

            <div class="input-group mb-3">
              <input id="page-name" type="text" class="form-control" placeholder="Adicionar nova página" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button onclick="addnewpage(getID('page-name').value)" class="btn btn-outline-secondary" type="button">+</button>
              </div>
            </div>

            <span id="alert_message">  </span>

            <form action="/setnewconfiguration" method="POST">

              <div class="row" id="navbar_container">
  
                <script type="text/javascript"> let _items_index = []; </script>

                  <% pages.forEach((index, counter)=>{ %>
  
                    <script type="text/javascript">
                      _items_index.push(`-><%= counter %>`);
                    </script>

                    <div class="col-sm-6" style="margin-top: 25px;max-width: 210px!important;margin-left: 7px;" id="-container-<%= index %>">
                      <div class="card">
                        <div class="card-body">
                          <span id="-><%= counter %>"><input autocomplete="false" style="border: 0px;" type="text" id="<%= index %>" class="card-title" value="<%= index %>">
                          <a href="/ePage:<%= index %>" class="btn btn-primary">Edit Page</a>
                          <button type="button" onClick="_delete_navbar_item('-><%= counter %>', '-container-<%= index %>')" class="btn btn-outline-danger">X</button>
                        <!-- onclick="_save_string('<%= index %>')"; onclick="_delete_navbar_item('<%= index %>')"-->
                        </div>
                      </div>
                    </div>

                  <% }) %>
                
                
              </div>
  
              <br />

              <input type="hidden" id="items_length" value="<%= pages.length; %>">
              <input type="hidden" name="navbar_items" id="navbar" value="">
              <input type="hidden" name="deleted_items" id="deleted_items" value="" />
              
              <input type="submit" onclick="_perform_submit()" class="btn btn-primary" value="Save" />
  
          </form>

          </div>
        </div>

      </div>

      <br />
      <br />

      <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/Digo-Ribeiro" target="_blank"> @Digo-Ribeiro</a><br/>
        <a href="#"> Back to Top</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

        <script src="/scripts/js/stdlib"></script>
        <script src="/scripts/js/blog-config"></script>
        
</body>
</html>