<!DOCTYPE html >
<html ng-app>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>

        input:focus{
            outline: none;
        }

        #general-config{
            font-weight: var(--font-weight-primary-bold);
            letter-spacing: 0.9px;
            -webkit-font-smoothing: antialiased;
            --font-family-primary: "Noto Sans", sans-serif;
        }

        #actual-pages{
            margin-top: 23px;
            margin-bottom: 23px;
            border: 4px dotted #333;
            padding: 15px;
        }
        </style>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container">

        <br />
        <h1 id="general-config"> Configurações Gerais </h1>

        <br />

        <div class="card">
          <div class="card-header">
            Featured
          </div>

          <div class="card-body">

            <div class="input-group mb-3">
              <input id="page-name" type="text" class="form-control" placeholder="Adicionar nova página" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button onclick="addnewpage(getID('page-name').value)" class="btn btn-outline-secondary" type="button">+</button>
              </div>
            </div>

            <span id="alert_message">  </span>

            <form action="/setnewconfiguration" method="POST">

              <div class="row" id="navbar_container">
  
                  <% pages.forEach((index, counter)=>{ %>
  
                    <div class="col-sm-6" style="margin-top: 25px;" id="-container-<%= index %>">
                      <div class="card">
                        <div class="card-body">
                          <span id="-><%= counter %>"><input autocomplete="false" style="border: 0px;" type="text" id="<%= index %>" class="card-title" value="<%= index %>">
                          <a href="/ePage:<%= index %>" class="btn btn-primary">Edit Page</a>
                          <button type="button" class="btn btn-outline-danger">X</button>
                        <!-- onclick="_save_string('<%= index %>')"; onclick="_delete_navbar_item('<%= index %>')"-->
                        </div>
                      </div>
                    </div>

                  <% }) %>
                
                
              </div>
  
              <br />

              <input type="hidden" id="items_length" value="<%= pages.length; %>">
              <input type="hidden" name="navbar_items" id="navbar" value="">
              
              <input type="button" onclick="_perform_submit()" class="btn btn-primary" value="Save" />
  
          </form>

          </div>
        </div>

      </div>

        <script src="/scripts/js/stdlib"></script>
        <script src="/scripts/js/blog-config"></script>
        
</body>
</html>