<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


</head>
<body>

    

    <form action="/savepagechanges" method="POST">
    
        <textarea name="content">

        </textarea>

        <input id="page_name" type="hidden" value="" name="page_name" />
        <input type="submit" value="Save"/>

    </form>

    <div id="from-server" style="opacity: 0;"> <%= page %> </div>

    <script src="/scripts/js/stdlib"></script>
    <script src='scripts/js/edit-page'></script>
    
</body>
</html>