<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <style>


      #button-menu{
        margin-bottom: 12px;
        /* border: 1px solid red; */
        border-radius: 0px;
      }

      </style>

       <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

       <!-- jQuery library -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
       <!-- Popper JS -->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   
       <!-- Latest compiled JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

       <script src="/socket.io/socket.io.js"></script>

</head>
<body>
    
    <nav aria-label="breadcrumb" style="position: fixed;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/cPanel">cPanel</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Posts</li>
      </ol>
    </nav>
    

      <div class="container">

        <br />
        <br />



          <div class="row">
            <% package._title.forEach(function(item, index){ %>
              <div class="col-sm-6" style="margin-top: 10px;">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"> <%= item %>  </h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-muted"><%= package._date[index] %></h6>
                    <br>
                    <a onclick="_send_to_delete(this.id)" id="<%= item %>" class="card-link"> Editar </a>
                    <a onclick="delete_post(this.id)" id="<%= item %>" class="card-link" style="color: red;">Excluir</a>
                    <a href="/pages_content:<%= page_name %>&:<%= item %>" target="_blank" class="card-link">Visualizar</a>
                  </div>
                </div>
            </div>
            <% }); %>
          </div>



        <br />
        <br />

        <div class="card">
          <div class="card-header" id="reader">
            Criar/Editar Suas Postagens
          </div>
          <div class="card-body">

              
                <div class="form-group">
                  <label for="exampleFormControlInput1">Título</label>
                  <input name="title" type="text" class="form-control" id="post_title" placeholder="Título da postagem">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Descrição</label>
                  <input name="description" type="text" class="form-control" id="post_description" placeholder="Descrição da postagem">
                </div>
                
                  <label for="exampleFormControlTextarea1">Conteúdo - HTML ABILITADO</label>

                      <div class="card" id="button-menu">
                        <div class="card-body">
                          <a href="#" class="btn btn-primary">Carregar Imagem</a>
                        </div>
                      </div>

                <div class="form-group">
                  <textarea name="content" class="form-control" id="post_content" rows="3"></textarea>
                </div>

                <button onclick="save_publish()" class="btn btn-primary mb-2">Salvar e publicar</button>
              
            </div>
              
          </div>
        </div>



    <div id="from-server" style="opacity: 0;"> <%= page_name %> </div>

    <br />
    <br />

    <!-- Footer -->
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://github.com/Digo-Ribeiro" target="_blank"> @Digo-Ribeiro</a><br/>
        <a href="#"> Back to Top</a>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <script src="/scripts/js/stdlib"></script>
    <script src='scripts/js/edit-page'></script>

</body>

</html>